@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}


.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.m-auto{
  margin-left: auto;
  margin-right: auto;
}
.mt-sm{
  margin-top: 10px;
}
.mr-sm{
  margin-right: 10px;
}
.mr-xs{
  margin-right: 5px;
}

mat-icon{
  cursor: pointer;
}

.ml-sm{
    margin-left: 10px !important;
}
.mr-sm{
  margin-right: 10px !important;
}
.mt-sm{
    margin-top: 10px !important;
}
.mb-sm{
    margin-bottom: 10px !important;
}

.ml-md{
    margin-left: 15px !important;
}
.mr-md{
  margin-right: 15px !important;
}
.mt-md{
    margin-top: 15px !important;
}
.mb-md{
    margin-bottom: 15px !important;
}

.pl-sm{
  padding-left: 10px;
}
.pr-sm{
  padding-right: 10px;
}

.pl-md{
  padding-left: 15px !important;
}
.pr-md{
  padding-right: 15px !important;
}

.pb-10 {
  padding-bottom: 25px;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right !important;
}

.d-flex{
  display: flex;
  align-items: center;
}

.a-right{
  justify-content: right;
}

.mat-snack-bar-container{
  &.snackbar-success{
    background-color: #28a745 !important;
    &, .mat-simple-snackbar-action{
      color: #fff !important;
    }
  }

  &.snackbar-error{
    background-color: #dc3545 !important;
    &, .mat-simple-snackbar-action{
      color: #fff !important;
    }
  }

  &.snackBar-info{
    background-color: #007bff !important;
    &, .mat-simple-snackbar-action{
      color: #fff !important;
    }
  }

  &.snackBar-warning{
    background-color: #ffc107 !important;
    &, .mat-simple-snackbar-action{
      color: #000 !important;
    }
  }
}


.m-row {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;

  .m-col,
  .m-col-75,
  .m-col-50,
  .m-col-25 {
    padding: 0 3px;

    .mat-form-field {
      width: 100%;

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }

  .m-col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .m-col-75 {
    flex: 0 0 74%;
    max-width: 74%;
  }

  .m-col-50 {
    flex: 0 0 49%;
    max-width: 49%;
  }

  .m-col-25 {
    flex: 0 0 24%;
    max-width: 24%;
  }
}

.rowSel {
  background-color: lightgray;
  color: #000;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #1976d2;
} 

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #1976d2;
}